<div class="row d-flex justify-content-center h-75 align-items-center">
    <div class="col-12 col-sm-8 col-md-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h5 class="text-center">Register</h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="register" (ngSubmit)="registerMethod()">
                    <mat-form-field class="w-100">
                        <mat-label>User Id</mat-label>
                        <input matInput formControlName="userId">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>password</mat-label>
                        <input matInput formControlName="password">
                    </mat-form-field>
                    <mat-radio-group aria-label="Gender" formControlName="role">
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="female">Female</mat-radio-button>
                    </mat-radio-group>
                    <div>
                        <button mat-raised-button color="primary">register</button>
                        <a mat-raised-button color="accent" routerLink="/login" class="mx-1">Login</a>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>