<div class="row d-flex justify-content-center h-75 align-items-center">
    <div class="col-12 col-sm-8 col-md-4">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h5 class="text-center">Login</h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form  [formGroup]="login" (ngSubmit)="loginMethod()">

                    <mat-form-field class="w-100">
                        <mat-label>User</mat-label>
                        <input matInput formControlName="id">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>password</mat-label>
                        <input matInput formControlName="password">
                    </mat-form-field >
                    <div>
                        <button mat-raised-button color="primary">login</button>
                        <a mat-raised-button color="accent" routerLink="/register" class="mx-1">register</a>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>