<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a routerLink="line" class="nav-link">Line Chart</a>
        </li>
        <li class="nav-item">
            <a routerLink="pie" class="nav-link">Pie Chart</a>
        </li>
        <li class="nav-item">
            <a routerLink="bar" class="nav-link">bar Chart</a>
        </li>
        <li class="nav-item">
            <a routerLink="bubble" class="nav-link">bubble Chart</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>