.seat{
    /* background-color: white; */
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid white;
    width: 25px;
    height: 25px;
    padding: 2px;
    text-align: center;
    margin-left: 5px;
}
.selected{
    background-color: blue;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid white;
    width: 25px;
    height: 25px;
    padding: 2px;
    text-align: center;
    margin-left: 5px;
}
.occupied{
    pointer-events: none;
    background-color: antiquewhite;
}